/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  box-sizing: border-box;
}


/*
/
/   END RESET CSS
/
*/

/*
  Make sure to test about with the tablet to mobile sizes to see which one fits the best and looks the nicest
*/
html, body {
  font-family: "Lucida Grande", "Lucida Sans Unicode";
  height: calc(100vh - 3px);
  width: 100vw;
  background: url('/1028.png');
}

h1 {
  font-size: 72px;
  letter-spacing: 5px;
}

h2 {
  font-size: 48px;
  letter-spacing: 3px;
}

h3 {
  font-size: 32px;
  letter-spacing: 2px;
}

h4 {
  font-size: 26px;
  letter-spacing: 1.6px;
}

p {
  font-size: 22px;
  letter-spacing: 1px;
}

.about-icon {
  font-size: 56px;
  padding: 15px;
}

.socials {
  display: flex;
  flex-direction: row;
}

.resume {
  font-size: 12px;
  height: 86px;
  width: 79px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 50px;
  width: 49px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-linkedin:visited {
  color: #0077b5;
}

.fa-github-square {
  color: #24292e;
}

.fa-github-square:visited {
  color: #24292e;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-twitter:visited {
  color: #1da1f2;
}

.container {
  height: 100vh;
  width: 100vh;
}

.content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 150px;
  grid-template-rows: 1fr 70px;
  grid-template-areas: 
    ". about project ."
    ". contact contact .";
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.pic {
  background: url('/pic.jpg') no-repeat;
  background-size: 500px 500px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 2px solid rgba(99, 104, 170, 0.8);
  box-shadow: 5px 5px 10px rgba(63, 21, 21, 0.5);
}

.pic-text {
  position: absolute;
  height: 350px;
  width: 200px;
  transform: translate(65%, 50%);
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: 2s all;
  z-index: 20;
}

.pic::after {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 450px;
  height: 450px;
  transform: translate(-50%, -2px);
  border-radius: 50%;
  transition: 2s all;
}

.pic:hover {
  cursor: pointer;
}

.pic:hover:after {
  background: rgba(0, 0, 0, 0.671);
}

.pic:hover .pic-text {
  opacity: 1;
}

.projects {
  grid-area: project;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  border: 1px solid rgba(99, 104, 170, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(63, 21, 21, 0.5);
}

.last-selected {
  display: flex;
  flex-direction: column;
  animation: offScreen 1s forwards;
}

.top-selected {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: .5s all ease;
  animation: topScreen 2s none;
}

.bottom-selected {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transition: .5s all ease;
  animation: bottomScreen 2s none;
}

.selected {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: .5s all ease;
}

.project-section {
  position: relative;
  width: 80%;
  height: 50%;
}

.project-section:hover .selected, .flip {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: scroll;
}

.back {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: rgb(241, 241, 241);
  border-radius: 10px;
  transform: rotateY(180deg);
  text-align: center;
  overflow: scroll;
}

.back-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(99, 104, 170, 0.5);
  padding-bottom: 20px;
  flex: 2;
}

.back-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  flex:1;
}

.project-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  border-bottom: 2px solid rgba(99, 104, 170, 0.5);
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  text-align: center;
}

.project-content p {
  margin: 15px;
}

.arrow {
  width: 75%;
  text-align: center;
  font-size: 30px;
  transition: 1s opacity ease-in-out;
}


.contact {
  grid-area: contact;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.contact:hover h4 {
  animation: contactBounce 2s infinite;
}

.hidden {
  opacity: 0;
}

.arrow:hover:not(.hidden) {
  opacity: 0.5;
}

.hide {
  animation: offScreen 1s forwards;
}

.main-page-link {
  grid-area: main-page;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.main-page-link:hover h4 {
  animation: contactBounce 2s infinite;
}

input {
  width: 50%;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  padding: 8px;
  border: 1px solid rgba(99, 104, 170, 0.175);
}

textarea {
  font-size: 22px;
  width: 50%;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid rgba(99, 104, 170, 0.175);
  font-family: "Lucida Grande", "Lucida Sans Unicode";
}

textarea:focus {
  box-shadow: 0px 0px 2px 2px rgba(99, 104, 170, 0.5);
}

input:focus {
  box-shadow: 0px 0px 2px 2px rgba(99, 104, 170, 0.5);
}

.email-link {
  text-decoration: none;
  color: black;
}

.greyed {
  color: grey;
  cursor: default;
}

.site {
  border: 1px solid #24292e;;
  height: 56px;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  background: rgba(99, 104, 170, 0.5);
  
}

.small-learn {
  display: none;
}

@keyframes contactBounce {
  0% { transform: translateY(0px) }
  25% { transform: translateY(-15px) }
  50% { transform: translateY(0px) }
  75% { transform: translateY(-7px) }
  100% { transform: translateY(0px) }
}

@keyframes topScreen {
  0% {transform: translateY(-500px)}
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes bottomScreen {
  0% {transform: translateY(500px)}
  100% {
    transform: translateY(0px);
  }
}

@keyframes offScreen {
  0% {transform: scale(1); height: 100%; width: 100%;}
  100% { transform: scale(0); height: 0; width: 0; }
}

@media only screen and (max-width: 1200px) {
  .small-learn {
    display: block;
    text-align: center;
    color: rgb(99, 104, 170);
    text-decoration: none;
  }
  .content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25px 1fr 1fr 25px;
    grid-template-rows: 1fr 70px;
    grid-template-areas: 
      ". about project ."
      ". contact contact .";
  }
  .pic {
    background: url('/pic.jpg') no-repeat;
    background-size: 320px 320px;
    width: 320px;
    height: 320px;
  }
  .pic-text {
    display: none;
    transition: none;
  }
  .pic:hover:after {
    background: none;
  }
  
  .pic:hover .pic-text {
    opacity: 0;
  }
  .projects {
    grid-area: project;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    margin: 35px 0px;
  }
  .pic::after {
    width: 0px;
    height: 0px;
  }
  .project p {
    font-size: 20px;
    letter-spacing: .75px;
  }
}

@media only screen and (max-width: 767px) {
  .content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 15px 700px 700px auto;
    grid-template-areas: 
      ". . ."
      ". about ."
      ". project ."
      ". contact .";
  }
  .pic {
    background: url('/pic.jpg') no-repeat;
    background-size: 320px 320px;
    width: 320px;
    height: 320px;
  }
  .pic-text {
    display: none;
    transition: none;
  }
  .pic:hover:after {
    background: none;
  }
  
  .pic:hover .pic-text {
    opacity: 0;
  }
  .projects {
    grid-area: project;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    margin: 35px 0px;
  }
  .contact {
    grid-area: contact;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .email-link {
    color: rgb(99, 104, 170);
  }
  .project p {
    font-size: 18px;
    letter-spacing: .75px;
  }
}

@media only screen and (max-width: 470px) {
  .content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 15px 700px 700px auto;
    grid-template-areas: 
      ". . ."
      ". about ."
      ". project ."
      ". contact .";
  }
  .pic {
    background: url('/pic.jpg') no-repeat;
    background-size: 300px 300px;
    width: 300px;
    height: 300px;
  }
  .pic-text {
    display: none;
    transition: none;
  }
  .pic:hover:after {
    background: none;
  }
  
  .pic:hover .pic-text {
    opacity: 0;
  }
  .projects {
    grid-area: project;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    margin: 35px 0px;
  }
  .contact {
    grid-area: contact;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .email-link {
    color: rgb(99, 104, 170);
  }
  .pic::after {
    width: 0px;
    height: 0px;
  }
  .project p {
    font-size: 14px;
    letter-spacing: .5px;
  }
}